<!-- Dit is een 'partial' code die de data van 2 kwasi identieke code formulieren combineert zodat er geen herhalingen in de code zitten-->
<!-- Dit wordt aangegeven met de underscore vooraan in de naam '_form...' -->

<h1 align="center">Signup for Alpha Blog</h1>


<%= render 'form' %>